nav {
  width: 100%;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  z-index: 100;
  border-bottom: 1px solid #7a6f59;
}
nav .container {
  overflow: hidden;
  width: 1200px;
  margin: 0 auto;
  height: 100px;
}
nav .container ul {
  padding: 0;
  margin: 0;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}
nav .container ul li {
  list-style: none;
  float: left;
  text-align: center;
  line-height: 42px;
  color: #606060;
  margin-top: 25px;
  margin-bottom: 25px;
  width: 145px;
  position: relative;
}
nav .container ul li a {
  font-size: 14px;
  -webkit-transition: font-size 0.1s;
  text-decoration: none;
  color: #606060;
}
nav .container ul li:nth-last-child(1) {
  border-left: 1px solid #7a6f59;
  padding-left: 65px;
}
nav .container ul li:nth-last-child(1) i {
  margin-right: 10px;
}
nav .container ul li:hover a {
  color: #7a6f59;
  font-size: 16px;
}
nav .container .change-lang a {
  line-height: 100px;
  color: #606060;
  display: inline-block;
}
nav.fixed {
  position: fixed;
  top: 0;
  height: 100px;
}
.spinner > div {
  opacity: 0;
  background-color: #7a6f59;
  height: 30px;
  width: 6px;
  display: inline-block;
  position: absolute;
  bottom: -42px;
  left: 42px;
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}
.spinner:hover > div {
  opacity: 1;
}
.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
  left: 56px;
}
.spinner .rect3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
  left: 68px;
}
.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
  left: 80px;
}
.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
  left: 92px;
}
@-webkit-keyframes stretchdelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
  }
}
@keyframes stretchdelay {
  0%,
  40%,
  100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}
.btn-squre {
  width: 125px;
  height: 125px;
  display: block;
  padding: 15px 45px 15px 15px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.85);
  color: #7a6f59;
  border: 1px solid #7a6f59;
  transition: All 0.4s ease-in-out;
}
.btn-squre .icon-arrow {
  width: 25px;
  height: 25px;
  display: block;
  position: absolute;
  right: 15px;
  bottom: 15px;
  border-right: 1px solid #7a6f59;
  border-bottom: 1px solid #7a6f59;
}
.btn-squre .icon-arrow:before {
  content: "";
  position: absolute;
  width: 32px;
  height: 1px;
  background-color: #7a6f59;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  display: block;
  bottom: 10px;
  left: -3px;
}
.btn-squre:hover {
  text-decoration: none;
  background-color: #7a6f59;
  color: #fff;
}
.btn-squre:hover .icon-arrow {
  border-color: #fff;
}
.btn-squre:hover .icon-arrow:before {
  background-color: #fff;
}
footer {
  background-color: #7a6f59;
  height: 250px;
}
footer .container {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  color: rgba(255, 255, 255, 0.85);
}
footer .container a {
  color: rgba(255, 255, 255, 0.85);
}
footer .container .logo-box {
  width: 230px;
  height: 175px;
  text-align: center;
  margin: 40px 0 auto 0;
  background-image: url(../images/logo_footer.jpg);
  background-repeat: no-repeat;
  background-position: center 30%;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  border-right: 2px solid #fff;
}
footer .container .logo-box h3 {
  margin-bottom: 30px;
}
footer .container .map-box {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin: 50px 0 auto 60px;
  height: 170px;
}
footer .container .map-box .site-map {
  width: 470px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
footer .container .map-box .site-map ul {
  list-style: none;
  padding: 0;
}
footer .container .conact-box {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  margin: 50px 0 auto auto;
  height: 160px;
}
footer .container .conact-box span {
  font-size: 24px;
}
footer .container .conact-box span i {
  margin-right: 10px;
}
footer .container .conact-box .sns-box i {
  color: rgba(255, 255, 255, 0.85);
  margin-left: 20px;
}
