a:hover {
  text-decoration: none;
}
nav {
  width: 100%;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  z-index: 10000;
  border-bottom: 1px solid #7a6f59;
}
nav .container {
  overflow: hidden;
  width: 1200px;
  margin: 0 auto;
  height: 100px;
}
nav .container ul {
  padding: 0;
  margin: 0;
  display: flex;
  display: -webkit-flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-align-items: center;
  align-items: center;
  height: 100%;
}
nav .container ul li {
  width: 200px;
  list-style: none;
  float: left;
  text-align: center;
  height: 100%;
  color: #606060;
  display: flex;
  display: -webkit-flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  position: relative;
}
nav .container ul li a {
  font-size: 14px;
  -webkit-transition: font-size 0.1s;
  text-decoration: none;
  color: #606060;
  margin-top: 40px;
  display: flex;
  display: -webkit-flex;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
nav .container ul li .icon-global {
  background-image: url(../images/English.png);
  background-repeat: no-repeat;
  margin-right: 10px;
  margin-top: -5px;
  width: 26px;
  height: 27px;
}
nav .container ul li .spinner > div {
  opacity: 0;
  background-color: #7a6f59;
  height: 30px;
  width: 1px;
  display: inline-block;
  position: relative;
  bottom: -15px;
  left: 0;
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}
nav .container ul li .spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
  left: 1%;
}
nav .container ul li .spinner .rect3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
  left: 2%;
}
nav .container ul li .spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
  left: 3%;
}
nav .container ul li .spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
  left: 4%;
}
nav .container ul li .spinner .rect6 {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
  left: 5%;
}
nav .container ul li .spinner .rect7 {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
  left: 6%;
}
nav .container ul li .spinner .rect8 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
  left: 7%;
}
nav .container ul li .spinner .rect9 {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
  left: 8%;
}
@-webkit-keyframes stretchdelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
  }
}
@keyframes stretchdelay {
  0%,
  40%,
  100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}
nav .container ul li:hover a {
  color: #7a6f59;
  font-size: 16px;
}
nav .container ul li:hover .spinner div {
  opacity: 1;
}
nav .container ul li:nth-last-child(1) {
  border-left: 1px solid #7a6f59;
  padding-left: 65px;
  height: 50%;
}
nav .container ul li:nth-last-child(1) a {
  margin-top: 15px;
}
nav.fixed {
  position: fixed;
  top: 0;
  height: 100px;
}
.btn-squre {
  width: 125px;
  height: 125px;
  display: block;
  padding: 15px 45px 15px 15px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.85);
  color: #7a6f59;
  border: 1px solid #7a6f59;
  transition: All 0.4s ease-in-out;
}
.btn-squre .icon-arrow {
  width: 25px;
  height: 25px;
  display: block;
  position: absolute;
  right: 15px;
  bottom: 15px;
  border-right: 1px solid #7a6f59;
  border-bottom: 1px solid #7a6f59;
}
.btn-squre .icon-arrow:before {
  content: "";
  position: absolute;
  width: 32px;
  height: 1px;
  background-color: #7a6f59;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  display: block;
  bottom: 10px;
  left: -3px;
}
.btn-squre:hover {
  text-decoration: none;
  background-color: #7a6f59;
  color: #fff;
}
.btn-squre:hover .icon-arrow {
  border-color: #fff;
}
.btn-squre:hover .icon-arrow:before {
  background-color: #fff;
}
.btn-back {
  position: relative;
  width: 80px;
  height: 80px;
}
.btn-back:before,
.btn-back:after {
  content: "";
  position: absolute;
  border-top: 1px solid #7e755e;
  width: 100%;
}
.btn-back:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.btn-back:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.btn-squre-prev,
.btn-squre-next {
  border: 1px solid #7e755e;
  width: 150px;
  height: 150px;
  color: #7e755e;
  position: relative;
  font-size: 16px;
}
.btn-squre-prev {
  text-align: right;
  padding: 10px 25px 0 65px;
}
.btn-squre-next {
  text-align: left;
  padding: 10px 65px 0 25px;
}
.btn-squre-prev:before,
.btn-squre-next:before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  border-top: 1px solid #7e755e;
  border-left: 1px solid #7e755e;
  bottom: 20px;
}
.btn-squre-prev:after,
.btn-squre-next:after {
  content: "";
  position: absolute;
  width: 43px;
  border-top: 1px solid #7e755e;
  bottom: 34px;
}
.btn-squre-prev:before {
  left: 20px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.btn-squre-next:before {
  right: 20px;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
.btn-squre-prev:after {
  left: 14px;
}
.btn-squre-next:after {
  right: 14px;
}
footer {
  background-color: #7a6f59;
  height: 250px;
}
footer .container {
  display: flex;
  display: -webkit-flex;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  color: rgba(255, 255, 255, 0.85);
}
footer .container a {
  color: rgba(255, 255, 255, 0.85);
}
footer .container .logo-box {
  width: 230px;
  height: 175px;
  text-align: center;
  margin: 40px 0 auto 0;
  background-image: url(../images/logo_footer.jpg);
  background-repeat: no-repeat;
  background-position: center 30%;
  display: flex;
  display: -webkit-flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  border-right: 2px solid #fff;
}
footer .container .logo-box h3 {
  margin-bottom: 30px;
}
footer .container .map-box {
  display: flex;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin: 50px 0 auto 60px;
  height: 170px;
}
footer .container .map-box .site-map {
  width: 470px;
  display: flex;
  display: -webkit-flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
footer .container .map-box .site-map ul {
  list-style: none;
  padding: 0;
}
footer .container .conact-box {
  display: flex;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  margin: 50px 0 auto auto;
  height: 160px;
}
footer .container .conact-box span {
  font-size: 24px;
}
footer .container .conact-box span i {
  margin-right: 10px;
}
footer .container .conact-box .sns-box i {
  color: rgba(255, 255, 255, 0.85);
  margin-left: 20px;
}
.sliderContainer {
  width: 100%;
  min-width: 1200px;
  overflow: hidden;
  position: relative;
}
.sliderContainer .container {
  height: 100%;
  width: 1200px;
  margin: 0 auto;
  display: flex;
  display: -webkit-flex;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-flex-direction: column;
  flex-direction: column;
  position: relative;
  z-index: 10000;
}
.sliderContainer .container .logo-box {
  position: relative;
  width: 225px;
  height: 337px;
  margin-top: 60px;
}
.sliderContainer .container .logo-box .logo-box-bg {
  background-image: url(../images/logo_top.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 225px;
  height: 337px;
  opacity: .85;
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.15);
}
.sliderContainer .container .logo-box .logo {
  width: 148px;
  height: 72px;
  bottom: 61px;
  position: absolute;
}
.sliderContainer .container .slogan-box {
  color: #fff;
  margin: auto auto 135px 0;
}
.sliderContainer .container .slogan-box h2 {
  background-image: url(../images/slogan.png);
  width: 577px;
  height: 51px;
}
.sliderContainer .container .slogan-box .hint-message {
  height: 50px;
  background-image: url(../images/Mouse_Icon.png);
  background-repeat: no-repeat;
}
.sliderContainer .slider {
  width: 400%;
  height: 817px;
  position: absolute;
  top: 0;
  z-index: 0;
}
.sliderContainer .slider .slider_item {
  height: 100%;
  width: 25%;
  background-size: cover;
  background-position: center;
  display: inline-block;
  position: absolute;
  left: 25%;
}
.sliderContainer .slider .slider_item.currentAmt {
  -webkit-animation: amt 0.5s ease-in forwards;
  -webkit-animation-delay: 1.5s;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  box-shadow: -1px 1px 3px #000000;
}
.sliderContainer .slider .slider_item.second {
  -webkit-animation: amt2 1s ease-in-out forwards;
  -webkit-animation-delay: 1.5s;
}
.sliderContainer .slider .slider_item:first-child {
  left: 0;
  position: relative;
}
@-webkit-keyframes amt {
  from {
    left: 25%;
  }
  to {
    left: 20.5%;
  }
}
@-webkit-keyframes amt2 {
  from {
    left: 20.5%;
    -webkit-filter: grayscale(1);
  }
  to {
    left: 0;
    -webkit-filter: grayscale(0.2);
  }
}
.review-box .container {
  width: 1200px;
}
.review-box .container .box-header {
  background-image: url(../images/review.png);
  background-repeat: no-repeat;
  width: 202px;
  height: 43px;
}
.review-box .container section {
  display: flex;
  display: -webkit-flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin-bottom: 90px;
}
.review-box .container section .figure-box {
  width: 680px;
  height: 320px;
  overflow: hidden;
  position: relative;
}
.review-box .container section .figure-box img {
  width: 120%;
  position: absolute;
  top: -20%;
  left: -10%;
  -webkit-filter: grayscale(0.7);
  transition: All 0.4s ease-in-out;
}
.review-box .container section .figure-box:hover img {
  -webkit-filter: none;
  -webkit-transform: scale(0.98);
}
.review-box .container section .sec-content {
  width: 38%;
  color: #7a6f59;
  display: flex;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.review-box .container section .sec-content h3 {
  font-weight: 100;
  margin-bottom: 25px;
}
.about-box {
  position: relative;
}
.about-box .about-bg {
  height: 720px;
  width: 100%;
  background-image: url(../images/about.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
.about-box .container {
  height: 720px;
  display: flex;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  color: #fff;
}
.about-box .container .box-header {
  background-image: url(../images/aboutus.png);
  background-repeat: no-repeat;
  width: 200px;
  height: 43px;
  margin-top: 0;
}
.about-box .container p {
  font-size: 26px;
  font-weight: 100;
}
.about-box .container .btn-squre {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
}
.about-box .container .btn-squre .icon-arrow {
  border-color: #fff;
}
.about-box .container .btn-squre .icon-arrow:before {
  background-color: #fff;
}
.about-box .container .btn-squre:hover {
  text-decoration: none;
  background-color: #7a6f59;
  color: #fff;
}
.about-box .container .btn-squre:hover .icon-arrow {
  border-color: #fff;
}
.about-box .container .btn-squre:hover .icon-arrow:before {
  background-color: #fff;
}
.box-header {
  margin: 55px 0;
  font-size: 32px;
}
