<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <title>项目展示</title>
    <link rel="stylesheet" type="text/css" href="../resources/css/jquery.min.css">
    <link rel="stylesheet" type="text/css" href="../resources/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../resources/css/fontawesome.min.css">
    <link rel="stylesheet" type="text/css" href="../resources/css/detail.min.css">
</head>

<body>
    <nav id="nav_bar" class="fixed">
        <div class="container">
            <ul>
                <li>
                    <a href="index.html">首页</a>
                    <div class="spinner">
                        <div class="rect1"></div>
                        <div class="rect2"></div>
                        <div class="rect3"></div>
                        <div class="rect4"></div>
                        <div class="rect5"></div>
                        <div class="rect6"></div>
                        <div class="rect7"></div>
                        <div class="rect8"></div>
                        <div class="rect9"></div>
                    </div>
                </li>
                <li>
                    <a href="content.html">项目展示</a>
                    <div class="spinner">
                        <div class="rect1"></div>
                        <div class="rect2"></div>
                        <div class="rect3"></div>
                        <div class="rect4"></div>
                        <div class="rect5"></div>
                        <div class="rect6"></div>
                        <div class="rect7"></div>
                        <div class="rect8"></div>
                        <div class="rect9"></div>
                    </div>
                </li>
                <li>
                    <a href="#">关于易和</a>
                    <div class="spinner">
                        <div class="rect1"></div>
                        <div class="rect2"></div>
                        <div class="rect3"></div>
                        <div class="rect4"></div>
                        <div class="rect5"></div>
                        <div class="rect6"></div>
                        <div class="rect7"></div>
                        <div class="rect8"></div>
                        <div class="rect9"></div>
                    </div>
                </li>
                <li>
                    <a href="#">易和咨询</a>
                    <div class="spinner">
                        <div class="rect1"></div>
                        <div class="rect2"></div>
                        <div class="rect3"></div>
                        <div class="rect4"></div>
                        <div class="rect5"></div>
                        <div class="rect6"></div>
                        <div class="rect7"></div>
                        <div class="rect8"></div>
                        <div class="rect9"></div>
                    </div>
                </li>
                <li>
                    <a href="#">联系我们</a>
                    <div class="spinner">
                        <div class="rect1"></div>
                        <div class="rect2"></div>
                        <div class="rect3"></div>
                        <div class="rect4"></div>
                        <div class="rect5"></div>
                        <div class="rect6"></div>
                        <div class="rect7"></div>
                        <div class="rect8"></div>
                        <div class="rect9"></div>
                    </div>
                </li>
                <li>
                    <a href="#">相关链接</a>
                    <div class="spinner">
                        <div class="rect1"></div>
                        <div class="rect2"></div>
                        <div class="rect3"></div>
                        <div class="rect4"></div>
                        <div class="rect5"></div>
                        <div class="rect6"></div>
                        <div class="rect7"></div>
                        <div class="rect8"></div>
                        <div class="rect9"></div>
                    </div>
                </li>
                <li>
                    <a href=""><i class="icon-global"></i>English</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container content">
        <div class="image-box">
            <div class="header" style="background-image: url(../resources/images/book1.jpg);">
                <div class="white-cover"></div>
                <h3>远洋 大河䆣章 䆣品会会所</h3>
            </div>
            <figure style="background-image: url(../resources/images/book2.jpg);"></figure>
            <figure style="background-image: url(../resources/images/book3.jpg);"></figure>
            <figure style="background-image: url(../resources/images/book4.jpg);"></figure>
            <figure style="background-image: url(../resources/images/book5.jpg);"></figure>
        </div>
        <div class="introduce-box">
            <div class="description-box">
                <div class="border-box">
                    <a  class="btn-back"></a>
                    <ul class="detail-list">
                        <li>面积：210平米</li>
                        <li>室内设计：杭州易和室内设计有限公司</li>
                        <li>主创设计师：马辉</li>
                        <li>参与设计师：李丽</li>
                        <li>主要材料：木饰面、软包、石材、铜</li>
                    </ul>
                    <div class="detial-description">
                        本案位于杭州西湖景区有江南第一会所支撑的“江南会”内，庄伟接待高端人士的上午空间，同时，也作为百年茅台酒文化的创城展示地，更显的得天独厚的高贵和优雅。在风格上采用的是创痛的重视风格，把创痛的重视元素与建筑本身的风格巧妙融合。一方面是毒拜年茅台酒文化的历史背景，另一方面延续整个江南辉设计元素，呼应周边环境。
                    </div>
                </div>
            </div>
            <a href="" class="btn-squre-prev">上一个项目</a>
            <a href="" class="btn-squre-next">下一个项目</a>
        </div>
    </div>
    <script src="../resources/js/jquery.min.js"></script>
    <script src="../resources/js/bootstrap.min.js"></script>
    <script>
    $(document).ready(function(){
        setTimeout('addAnimation()', 1000);
        //$('.description-box').addClass('cartoon');
        addAnimation = function(){
            $('.description-box').addClass('cartoon');
        }
        // $('.btn-back').click(function(){
        //     $('.description-box').addClass('cartoon');    
        // })
        
    });
    </script>
</body>