<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <title>易和设计</title>
    <link rel="stylesheet" type="text/css" href="../resources/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../resources/css/fontawesome.min.css">
    <link rel="stylesheet" type="text/css" href="../resources/css/index.min.css">
</head>

<body>
    <div class="sliderContainer">
        <div class="container">
            <div class="nav-menu">
                <button type="button" data-toggle="modal" data-target="#navModal"></button>
            </div>
            <div class="logo-box">
                <div class="express-link">
                    <a href="content.html" title="项目展示">前往项目展示</a>
                </div>
                <div class="logo"></div>
            </div>
            <div class="slogan-box">
                <h2></h2>
                <div class="hint-message">
                </div>
            </div>
        </div>
        <div class="slider">
            <div class="slider_item" style="background-image:url(../resources/images/book1.jpg);"></div>
            <div class="slider_item currentAmt" style="background-image:url(../resources/images/book2.jpg);"></div>
            <div class="slider_item " style="background-image:url(../resources/images/book3.jpg);"></div>
            <div class="slider_item " style="background-image:url(../resources/images/book4.jpg);"></div>
        </div>
    </div>
    <!-- <nav id="nav_bar">
        <div class="container">
            <ul>
                <li>
                    <a href="#">首页</a>
                    <div class="spinner">
                        <div class="rect1"></div>
                        <div class="rect2"></div>
                        <div class="rect3"></div>
                        <div class="rect4"></div>
                        <div class="rect5"></div>
                        <div class="rect6"></div>
                        <div class="rect7"></div>
                        <div class="rect8"></div>
                        <div class="rect9"></div>
                    </div>
                </li>
                <li>
                    <a href="content.html">项目展示</a>
                    <div class="spinner">
                        <div class="rect1"></div>
                        <div class="rect2"></div>
                        <div class="rect3"></div>
                        <div class="rect4"></div>
                        <div class="rect5"></div>
                        <div class="rect6"></div>
                        <div class="rect7"></div>
                        <div class="rect8"></div>
                        <div class="rect9"></div>
                    </div>
                </li>
                <li>
                    <a href="#">关于易和</a>
                    <div class="spinner">
                        <div class="rect1"></div>
                        <div class="rect2"></div>
                        <div class="rect3"></div>
                        <div class="rect4"></div>
                        <div class="rect5"></div>
                        <div class="rect6"></div>
                        <div class="rect7"></div>
                        <div class="rect8"></div>
                        <div class="rect9"></div>
                    </div>
                </li>
                <li>
                    <a href="#">易和咨询</a>
                    <div class="spinner">
                        <div class="rect1"></div>
                        <div class="rect2"></div>
                        <div class="rect3"></div>
                        <div class="rect4"></div>
                        <div class="rect5"></div>
                        <div class="rect6"></div>
                        <div class="rect7"></div>
                        <div class="rect8"></div>
                        <div class="rect9"></div>
                    </div>
                </li>
                <li>
                    <a href="#">联系我们</a>
                    <div class="spinner">
                        <div class="rect1"></div>
                        <div class="rect2"></div>
                        <div class="rect3"></div>
                        <div class="rect4"></div>
                        <div class="rect5"></div>
                        <div class="rect6"></div>
                        <div class="rect7"></div>
                        <div class="rect8"></div>
                        <div class="rect9"></div>
                    </div>
                </li>
                <li>
                    <a href="#">相关链接</a>
                    <div class="spinner">
                        <div class="rect1"></div>
                        <div class="rect2"></div>
                        <div class="rect3"></div>
                        <div class="rect4"></div>
                        <div class="rect5"></div>
                        <div class="rect6"></div>
                        <div class="rect7"></div>
                        <div class="rect8"></div>
                        <div class="rect9"></div>
                    </div>
                </li>
                <li>
                    <a href=""><i class="icon-global"></i>English</a>
                </li>
            </ul>
        </div>
    </nav> -->
    <div class="slide-box">
        <div class="jcarousel">
            <ul>
                <li>
                    <figure style="background-image:url(../resources/images/ss1.png)">
                        <div class="border"></div>
                        <div class="project-content">
                            <h3>绍兴金地蘭悦售楼处</h3>
                            <p>灵水薇兰，跃动绍兴！以兰为主题，运用传统绢画的表现形式，加以现代的工艺，配合古铜、灰色理石等材质的烘托，力求表现出灵动雅致，又不失贵气的销售空间，给客户全新的购房体验。</p>
                            <a href="detail.html" title="">了解更多细节</a>
                        </div>
                    </figure>
                </li>
                <li>
                    <figure style="background-image:url(../resources/images/ss2.png)"></figure>
                </li>
                <li>
                    <figure style="background-image:url(../resources/images/ss1.png)"></figure>
                </li>
                <li>
                    <figure style="background-image:url(../resources/images/ss2.png)"></figure>
                </li>
                <li>
                    <figure style="background-image:url(../resources/images/ss1.png)"></figure>
                </li>
                <li>
                    <figure style="background-image:url(../resources/images/ss2.png)"></figure>
                </li>
                <li>
                    <figure style="background-image:url(../resources/images/ss1.png)"></figure>
                </li>
                <li>
                    <figure style="background-image:url(../resources/images/ss2.png)"></figure>
                </li>
            </ul>
        </div>
        <a href="#" class="jcarousel-control-prev" data-jcarouselcontrol="true">‹</a>
        <a href="#" class="jcarousel-control-next" data-jcarouselcontrol="true">›</a>
        <div class="jcarousel-pagination" data-jcarouselpagination="true">
            <div>
                <a href="#1" class="">1</a>
                <a href="#2">2</a>
                <a href="#3" class="active">3</a>
            </div>
        </div>
    </div>
    <div class="review-box">
        <div class="container">
            <header class="box-header"></header>
            <section>
                <div class="figure-box">
                    <img src="../resources/images/book3.jpg">
                </div>
                <div class="sec-content">
                    <h3>绍兴境地蓝月售楼处</h3>
                    <p>这个是一段介绍文字,这个是一段介绍文字这个是一段介绍文字这个是一段介绍文字这个是一段介绍文字这个是一段介绍文字这个是一段介绍文字这个是一段介绍文字这个是一段介绍文字这个是一段介绍文字这个是一段介绍文字这个是一段介绍文字这个是一段介绍文字</p>
                    <a href="detail.html" class="btn-squre btn-brand">点击了解更多细节<i class="icon-arrow"></i></a>
                </div>
            </section>
            <section>
                <div class="sec-content">
                    <h3>绍兴境地蓝月售楼处</h3>
                    <p>这个是一段介绍文字,这个是一段介绍文字这个是一段介绍文字这个是一段介绍文字这个是一段介绍文字这个是一段介绍文字这个是一段介绍文字这个是一段介绍文字这个是一段介绍文字这个是一段介绍文字这个是一段介绍文字这个是一段介绍文字这个是一段介绍文字</p>
                    <a href="" class="btn-squre btn-brand">点击了解更多细节<i class="icon-arrow"></i></a>
                </div>
                <div class="figure-box">
                    <img src="../resources/images/book2.jpg">
                </div>
            </section>
            <section>
                <div class="figure-box">
                    <img src="../resources/images/book4.jpg">
                </div>
                <div class="sec-content">
                    <h3>绍兴境地蓝月售楼处</h3>
                    <p>这个是一段介绍文字,这个是一段介绍文字这个是一段介绍文字这个是一段介绍文字这个是一段介绍文字这个是一段介绍文字这个是一段介绍文字这个是一段介绍文字这个是一段介绍文字这个是一段介绍文字这个是一段介绍文字这个是一段介绍文字这个是一段介绍文字</p>
                    <a href="" class="btn-squre btn-brand">点击了解更多细节<i class="icon-arrow"></i></a>
                </div>
            </section>
        </div>
    </div>
    <div class="team-box container">
        <h2>我们摘星揽月，<br>用实力证明一切！</h2>
        <div class="award-box">
            <img src="../resources/images/iF.png" alt="">
            <img src="../resources/images/Jintang.png" alt="">
            <img src="../resources/images/ring.png" alt="">
            <a href="#" class="btn-squre btn-brand">点击了解更多细节<i class="icon-arrow"></i></a>
        </div>
    </div>
    <div class="about-box">
        <div class="about-bg">
            <div class="container">
                <header class="box-header"></header>
                <p>秉承“设计创造价值，专业提升品质”的设计服务理念，
                    <br>致力于创造高品质的室内空间</p>
                <a href="" class="btn-squre btn-brand">点击了解更多<i class="icon-arrow"></i></a>
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="logo-box">
                <h3>易和设计</h3>
            </div>
            <div class="map-box">
                <div class="site-map">
                    <ul>
                        <li>关于易和</li>
                        <li><a href="">公司概况</a></li>
                        <li><a href="">设计团队</a></li>
                        <li><a href="">公司荣誉</a></li>
                    </ul>
                    <ul>
                        <li>系和资讯</li>
                        <li><a href="">易和新闻</a></li>
                        <li><a href="">易和报道</a></li>
                    </ul>
                    <ul>
                        <li>联系我们</li>
                        <li><a href="">联系方式</a></li>
                        <li><a href="">招财纳贤</a></li>
                        <li><a href="">留言簿</a></li>
                    </ul>
                    <ul>
                        <li>相关链接</li>
                        <li><a href="">地产项目陈设设计－极尚软装</a></li>
                        <li><a href="">私宅整体软装设计－雅静家居</a></li>
                    </ul>
                </div>
                <p>Copyright ©2015 杭州易和室内设计有限公司</p>
            </div>
            <div class="conact-box">
                <span><i class="fa fa-user"></i>在线咨询</span>
                <div class="sns-box">
                    <i class="fa fa-weibo fa-2x"></i>
                    <i class="fa fa-tencent-weibo fa-2x"></i>
                    <i class="fa fa-qq fa-2x"></i>
                    <i class="fa fa-wechat fa-2x"></i>
                </div>
            </div>
        </div>
    </footer>
    <!-- Large modal -->
    <div class="modal fade" tabindex="-1" id="navModal" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="logo">
                    </div>
                    <div class="control-header">
                        <a href=""><i class="icon-global"></i>English</a>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">CLOSE
                            <span aria-hidden="true"></span></button>
                    </div>
                </div>
                <div class="modal-body">
                    <ul>
                        <li><a href="" title="">精彩回顾</a></li>
                        <li><a href="" title="">关于易和</a></li>
                        <li><a href="" title="">易和咨询</a></li>
                        <li><a href="" title="">联系我们</a></li>
                        <li><a href="" title="">相关链接</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script src="../resources/js/jquery.min.js"></script>
    <script src="../resources/js/bootstrap.min.js"></script>
    <script src="../resources/js/jquery.jcarousel.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        var screenHeight = $(window).height();
        $('.sliderContainer').css('height', screenHeight + 'px');
        $('.slider').css('height', screenHeight + 'px');
        /* var _ishit = false;
        $(window).on('scroll', function(e) {
            var scrollTop = $(document).scrollTop();
            var navHeight = $('#nav_bar').height();
            var sliderHeight = $('.sliderContainer').height();

            _ishit = scrollTop >= sliderHeight - navHeight;
            if (_ishit)
                $('#nav_bar').addClass('fixed');
            else
                $('#nav_bar').removeClass('fixed');

        });
*/

        $('.jcarousel').jcarousel({});
        $('.jcarousel-pagination')
            .on('jcarouselpagination:active', 'a', function() {
                $(this).addClass('active');
            })
            .on('jcarouselpagination:inactive', 'a', function() {
                $(this).removeClass('active');
            })
            .jcarouselPagination({
                // Options go here
            });
        /*
         Prev control initialization
         */
        $('.jcarousel-control-prev')
            .on('jcarouselcontrol:active', function() {
                $(this).removeClass('inactive');
            })
            .on('jcarouselcontrol:inactive', function() {
                $(this).addClass('inactive');
            })
            .jcarouselControl({
                // Options go here
                target: '-=1'
            });

        /*
         Next control initialization
         */
        $('.jcarousel-control-next')
            .on('jcarouselcontrol:active', function() {
                $(this).removeClass('inactive');
            })
            .on('jcarouselcontrol:inactive', function() {
                $(this).addClass('inactive');
            })
            .jcarouselControl({
                // Options go here
                target: '+=1'
            });


        var times = 0;
        $('.slider_item').on('animationend', function() {
            times++;
            if (times == 1) {
                $(this).addClass('second');
                $(this).css('left', '20.5%');
                return false;
            } else if (times == 2) {
                times = 0;
                $(this)
                    .removeClass('currentAmt')
                    .removeClass('second')
                    .css('left', 0)
                    .prependTo('.slider');
                $(this)
                    .next()
                    .css('left', '25%')
                    .appendTo('.slider');
                $(this)
                    .next()
                    .addClass('currentAmt');
            }

        });
    });
    </script>
</body>

</html>
