<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <title></title>
    <link rel="stylesheet" type="text/css" href="../resources/css/jquery.min.css">
    <link rel="stylesheet" type="text/css" href="../resources/css/jquery.booklet.latest.css">
    <link rel="stylesheet" type="text/css" href="../resources/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../resources/css/fontawesome.min.css">
    <link rel="stylesheet" type="text/css" href="../resources/css/index.min.css">
    <style type="text/css">
    .item {
        background: #CACACA;
        padding: 5px;
        width:200px;
        float: left;
        margin: 10px;
    }

    .container.content {border:none;}
    </style>
</head>

<body>
    <div class="sliderContainer">
        <div id="mybook">
            <div class="slide" style="background-image:url(../resources/images/book1.jpg);">
                <div class="a-side"></div>
            </div>
            <div class="slide" style="background-image:url(../resources/images/book2b.jpg);">
                <div class="b-side"></div>
            </div>
            <div class="slide" style="background-image:url(../resources/images/book2.jpg);">
                <div class="a-side"></div>
            </div>
            <div class="slide" style="background-image:url(../resources/images/book3b.jpg);">
                <div class="b-side"></div>
            </div>
            <div class="slide" style="background-image:url(../resources/images/book3.jpg);">
                <div class="a-side"></div>
            </div>
            <div class="slide" style="background-image:url(../resources/images/book4b.jpg);">
                <div class="b-side"></div>
            </div>
            <div class="slide" style="background-image:url(../resources/images/book4.jpg);">
                <div class="a-side"></div>
            </div>
            <div class="slide" style="background-image:url(../resources/images/book5b.jpg);">
                <div class="b-side"></div>
            </div>
            <div class="slide" style="background-image:url(../resources/images/book5.jpg);">
                <div class="a-side"></div>
            </div>
        </div>
    </div>
<nav id="nav_bar">
	<div class="container">
		<ul>
			<li><a href="#">首页</a></li>
			<li><a href="#">项目展示</a></li>
			<li><a href="#">关于易和</a></li>
			<li><a href="#">易和咨询</a></li>
			<li><a href="#">联系我们</a></li>
			<li><a href="#">相关链接</a></li>
		</ul>
		<div class="change-lang">
			<a href=""><i class="fa fa-language"></i>English</a>
		</div>	
	</div>
</nav>
<div class="container content" id="grid">
        <div class="item">
            <img src="http://www.dabaoku.com/sucaidatu/zhuangshi/jiaju/575057.jpg" style="width:100%;">
        </div>
        <div class="item">
            <img src="http://pic4.nipic.com/20090728/53764_091026039_2.jpg" style="width:100%;">
        </div>
        <div class="item">
            <img src="http://pic20.nipic.com/20120407/6353577_102047151142_2.jpg" style="width:100%;">
        </div>
        <div class="item">
            <img src="http://img.taopic.com/uploads/allimg/110706/43-110F6155T999.jpg" style="width:100%;">
        </div>
        <div class="item">
            <img src="http://i2.sinaimg.cn/hs/2011/0419/U5553P1088DT20110419142711.jpg" style="width:100%;">
        </div>
        <div class="item">
            <img src="http://pic12.nipic.com/20110222/3083251_211412493147_2.jpg" style="width:100%;">
        </div>
        <div class="item">
            <img src="http://www.dabaoku.com/sucaidatu/zhuangshi/jiaju/575057.jpg" style="width:100%;">
        </div>
        <div class="item">
            <img src="http://pic4.nipic.com/20090728/53764_091026039_2.jpg" style="width:100%;">
        </div>
        <div class="item">
            <img src="http://pic20.nipic.com/20120407/6353577_102047151142_2.jpg" style="width:100%;">
        </div>
        <div class="item">
            <img src="http://img.taopic.com/uploads/allimg/110706/43-110F6155T999.jpg" style="width:100%;">
        </div>
        <div class="item">
            <img src="http://i2.sinaimg.cn/hs/2011/0419/U5553P1088DT20110419142711.jpg" style="width:100%;">
        </div>
        <div class="item">
            <img src="http://pic12.nipic.com/20110222/3083251_211412493147_2.jpg" style="width:100%;">
        </div><div class="item">
            <img src="http://www.dabaoku.com/sucaidatu/zhuangshi/jiaju/575057.jpg" style="width:100%;">
        </div>
        <div class="item">
            <img src="http://pic4.nipic.com/20090728/53764_091026039_2.jpg" style="width:100%;">
        </div>
        <div class="item">
            <img src="http://pic20.nipic.com/20120407/6353577_102047151142_2.jpg" style="width:100%;">
        </div>
        <div class="item">
            <img src="http://img.taopic.com/uploads/allimg/110706/43-110F6155T999.jpg" style="width:100%;">
        </div>
        <div class="item">
            <img src="http://i2.sinaimg.cn/hs/2011/0419/U5553P1088DT20110419142711.jpg" style="width:100%;">
        </div>
        <div class="item">
            <img src="http://pic12.nipic.com/20110222/3083251_211412493147_2.jpg" style="width:100%;">
        </div><div class="item">
            <img src="http://www.dabaoku.com/sucaidatu/zhuangshi/jiaju/575057.jpg" style="width:100%;">
        </div>
        <div class="item">
            <img src="http://pic4.nipic.com/20090728/53764_091026039_2.jpg" style="width:100%;">
        </div>
        <div class="item">
            <img src="http://pic20.nipic.com/20120407/6353577_102047151142_2.jpg" style="width:100%;">
        </div>
        <div class="item">
            <img src="http://img.taopic.com/uploads/allimg/110706/43-110F6155T999.jpg" style="width:100%;">
        </div>
        <div class="item">
            <img src="http://i2.sinaimg.cn/hs/2011/0419/U5553P1088DT20110419142711.jpg" style="width:100%;">
        </div>
        <div class="item">
            <img src="http://pic12.nipic.com/20110222/3083251_211412493147_2.jpg" style="width:100%;">
        </div><div class="item">
            <img src="http://www.dabaoku.com/sucaidatu/zhuangshi/jiaju/575057.jpg" style="width:100%;">
        </div>
        <div class="item">
            <img src="http://pic4.nipic.com/20090728/53764_091026039_2.jpg" style="width:100%;">
        </div>
        <div class="item">
            <img src="http://pic20.nipic.com/20120407/6353577_102047151142_2.jpg" style="width:100%;">
        </div>
        <div class="item">
            <img src="http://img.taopic.com/uploads/allimg/110706/43-110F6155T999.jpg" style="width:100%;">
        </div>
        <div class="item">
            <img src="http://i2.sinaimg.cn/hs/2011/0419/U5553P1088DT20110419142711.jpg" style="width:100%;">
        </div>
        <div class="item">
            <img src="http://pic12.nipic.com/20110222/3083251_211412493147_2.jpg" style="width:100%;">
        </div>
    </div>
    <script src="../resources/js/jquery.min.js"></script>
    <script src="../resources/js/jquery-ui.min.js"></script>
    <script src="../resources/js/jquery.easing.min.js"></script>
    <script src="../resources/js/jquery.booklet.latest.min.js"></script>
    <script src="../resources/js/bootstrap.min.js"></script>
    <script src="../resources/js/imagesloaded.pkgd.min.js"></script>
    <!--<script src="../resources/js/masonry.pkgd.min.js"></script>-->
    <script src="../resources/js/jquery.masonry.min.js"></script>
    <script type="text/javascript">
    var imgLoadNum = 0;
    var _ishit = false;
    $(function() {
        var totalImgLength = $('img').length;

        $(window).on('scroll', function (e) {
            var scrollTop = $(document).scrollTop();
            var navHeight = $('#nav_bar').height();
            var sliderHeight = $('.sliderContainer').height();
           
            _ishit = scrollTop >= sliderHeight - navHeight;
            if (_ishit) 
                $('#nav_bar').addClass('fixed');
            else 
                $('#nav_bar').removeClass('fixed');   
            
        });
        var screenHeight = $(window).height();
        $('#mybook').booklet({
            width: '150%',
            height: screenHeight,
            pagePadding: 0,
            pageNumbers: false,
            shadows: true,
            auto: true,
            speed: 2500

            // overlays: true,
            // hovers: true

        });
        var $masonry = $('#grid');
        $masonry.imagesLoaded(function () {
            console.log($('#grid').width());
            $masonry.masonry({
              itemSelector: '.item'
              // columnWidth: 200
            });
        });
    });
    </script>
</body>

</html>
