// body{
// 	display: flex;
// 	justify-content: center;
// 	align-items: flex-end;
// }
.sliderContainer {
    width: 100%;
    overflow: hidden;
    .slide {
        //position: relative;
		//display: flex;
		//justify-content: center;
		//align-items: center;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		width: 100%;
		height: 100%;
        .a-side{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-image: url(../css/images/shadow.png);
            background-position: 113% top;
  			background-size: 220px 100%;
			background-repeat: no-repeat;
        }
        .b-side{
        	width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-image: url(../css/images/shadow.png);
            background-position: -13% top;
  			background-size: 220px 100%;
			background-repeat: no-repeat;
        }
    }
}

nav {
    width: 100%;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    z-index: 100;
    .container {
        overflow: hidden;
        width: 1200px;
        margin: 0 auto;
        height: 100px;
        ul {
            padding: 0;
            margin: 0;
            li {
                list-style: none;
                float: left;
                width: 14%;
                line-height: 100px;
                color: #606060;
            }
            li:nth-child(1) {
                color: #8a806d;
            }
        }
        .change-lang a {
            line-height: 100px;
            color: #606060;
            display: inline-block;
        }
    }
}
